body {
    font-family: 'Outfit', sans-serif;
  
  }
  
a {
    text-decoration: none;
  }

ul {
    list-style: none;
  }
  

.container img {
    width: 160px;
    margin-left: 100px;
    margin-top: 34px;
  }

.container input {
    font-size: 20px;
    width: 415px;
    height: 56px;
    margin-left: 100px;
    border-radius: 4%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 86px;
    margin-right: 175px;
}
  .container button {
    font-size: 20px;
    width: 56px;
    height: 56px;
    background-color: #064789;
    color: white;
    border: 3px solid black;
    border-radius: 4%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 86px;
    margin-right: 100px;
  }
/* HEADER STYLING */
.primary-nav {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 7.813rem;
  font-weight: bold;
  color: #064789;
  font-size: 32px;
}

header {
  border-bottom: black solid 1px;
}

/* HERO SECTION */
.hero-align {
  display: flex;
}

#hero-photo {
  width: 35%;
}

.hero-content {
  padding: 4rem;
}

/* CARD SECTION STYLING */
.cards {
  display: flex;
  text-align: center;
}

.forums-card {
  background: #064789;
  color: #fff;
  padding: 2rem;
}

.space-card {
  background: #577399;
  color: #fff;
  padding: 2rem;
}

.publicity-card {
  background-color: #427AA1;
  color: #fff;
  padding: 2rem;
}

/* MARGIN STYLING FOR MIDDLE OF PAGE */

.margin-section {
margin: 10%;
}

/* PRINCIPLES OF UNITY SECTION */
.principles {
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
  padding-left: 0;
  text-align: center;
  justify-content: center;
}

.principles-title {
  text-align: center;
  padding-bottom: 2rem;
}

.principles-container {
  margin: auto;
  text-align: center;
}


.principles-container h4 {
  font-size: 24px;
}

#united-action-icon {
 width: 50%; 
}

.principles-header {
  font-size: 40px;
}

#book-image {
  width: 50%;
}

#principles-icon {
  position: relative;
  width: 341px;
  height: 341px;
  background-color: #EBF2FA;
  
}
#principles-icon img {
  width: 231px;
  height: 231px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  height: auto;
}
#principles-icon2 {
  position: relative;
  width: 341px;
  height: 341px;
  background-color: #EBF2FA;
  margin-top: 1.25rem;
}
#principles-icon2 img {
  width: 231px;
  height: 231px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  height: auto;
}


/* EVENTS SECTION */
.events-section {
  display: flex;
  text-align: center;
  justify-content: center;
}

.event-container2 {
  background: #D6D6D6;
}

.header-events {
  font-size: 40px;
  color: white;
  margin-top: 1.5rem;
}

.upcoming-events {
  background: #427AA1;
  text-align: center;
  padding: 2rem;
}

.event-box {
  background: #EBF2FA;
  border-radius: 14px;
  border-color: black;
  border-width: 3px;
  margin: 2rem;
  padding: 2rem;
}

.event-box-header {
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  border-bottom: black solid 1px;
  margin-bottom: 0;
  margin-top: 0;
  
}
.event-box-header h5 {
  border-right: 3px solid grey;
  padding-right: 3rem;
  font-size: 24;
  margin-top: 1.7rem;
}
.event-box-header p {
  margin-top: 1.5rem;
  margin-left: -1rem;
}

.event-box-content {
  display: flex;
  margin-top: 1rem;
}

.event-logo {
    padding: 2rem;
}

.box-content {
  display: flex;
  text-align: left;
  flex-direction: column;
  
}  

.event-button {
  background: #EBF2FA;
  border: #0C3A68 solid 3px;
  box-shadow: ;
  border-radius: 20px;
  padding: 1rem;
  font-weight: bold;
  color: #0C3A68;
  font-size: 24px;
}

.book-event-button {
  background: #EBF2FA;
  border-color: #0C3A68;
  border-width: 3px;
  border-radius: 20px;
  padding-right: 4px;
  padding-left: 4px;
}

.book-event {
  background: #EBF2FA;
}

.book-event-header {
  font-size: 40px;
}

.book-event-card {
text-align: center;
}

/*partners section*/
.partners {
  font-size: 24px;
  text-align: center;
  justify-content: center;
}
.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;

}

.slider {
	height: 110px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 80%;
}

.slider .slide-track {
	animation: scroll 25s linear infinite;
	display: flex;
	width: calc(250px * 16);
}




.slider .slide img {
    width: 80%;
    height: 100px;
    
    border: 2px solid #bbbbbb;
}

@-webkit-keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 7));
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 7));
	}
}

/* CONTACT FORM */
.contact-form {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  margin: 2rem 10%;
  padding: 4rem;
  display: flex;
}

.contact-content-left {
width: 50%;
}

.input-button {
  padding: 0.8rem;
  border-radius: 16px;
  display: block;
  width: 100%;
  margin: 1rem 0;
}

#contact-image {
  width: 50%;
}

.contact-button {
  background: #EBF2FA;
  border: #0C3A68 solid 3px;
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
}

/* FOOTER STYLING */
footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 287px;
    border-top: 3px solid #0C3A68;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
footer h1 {
    font-size: 32px;
    max-width: 15rem;
    margin-left: 5rem;
    color: #0C3A68;
  }
  
.footercontact {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    max-width: 15rem;
    margin-left: 5rem;
    color: #0C3A68;
  }
  
.footercontact h2 {
    font-size: 24px;
    margin-bottom: 0.5rem;
  }
  
.footercontact h3 {
    font-size: 20px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

.footercontact p {
    font-size: 20px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

.footernav
  {
    border-left: 3px solid #0C3A68;
  
  }

.footernav a {
    font-size: 24px;
    color: #0C3A68;
  }

.footernav li {
    padding: 0.5rem;
    margin-right: 5rem;
  }

.footerlogo a {
    color: #0C3A68;
  }


.footerlogo ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 2rem;
  }

  .footerlogo i {
    font-size: 24px;
    
  }
